.headcart{
    color: rgb(175, 175, 175);
    text-align: center;
}

.headOfcart{
    display: flex;
    color: rgb(175, 175, 175);
    justify-content: space-around;
    padding: 10px 0 20px 0;
    gap: 0 280px;
}
.cart-content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 85vh;
    padding-bottom: 30px ;
}
.content-cart{
    display: flex;
    gap: 18px;
    padding: 3rem 0 10px 0;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cartcontent-outter{
    min-height: 28rem;
}
.cart-subcontent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.content-cart img{
    width: 12rem;
}
.remove-cart{
    padding: 10px;
    background-color: burlywood;
    color: white;
    border: none;
    width: fit-content;
}
.cartprice{
    padding: 3rem 0 0 0;
}
.IncreDecre{
    padding-top: 42px;
}
.quantity{
    padding: 5.5px 10px 3px 10px;
    background-color: white;
    font-size: large;
}
.incre{
    font-size: x-large;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 15px 0 0 15px;
}
.decre{
    font-size: x-large;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0 15px 15px 0;
}
.total{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 30px 35rem;
    gap:380px;
}
.total h2{
    font-size: xx-large;
    color: burlywood;
}
.total h1{
    font-size: xx-large;
}
.buy{
    display: flex;
    justify-content: center;
}
.buy button{
    padding: 15px 30px;
    font-size: x-large;
    color: white;
    background-color: burlywood;
    border: none;
    font-weight: bold;
}

.noitem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23.2rem;
}
.noitem img{
    width: 40rem;
    height: 35rem;
}

@media screen and (max-width:756px){
    .headOfcart{
        display: none;
    }
    .content-cart{
        flex-direction: column;
        place-items: center;
        gap: 12px;
        padding: 3rem 10px 18px 5px;
    }
    .total{
        display: flex;
        justify-content: space-around;
        padding: 15px 0 20px 0;
        gap:0px;
    }
    .total h2{
        font-size: xx-large;
        color: burlywood;
    }
    .total h1{
        font-size: x-large;
    }

    .content-cart img{
        width: 8rem;
    }
    .remove-cart{
        margin-top: 10px;
        padding: 8px;
    }
    .cartprice{
        padding: 0;
    }
    .quantity{
        padding: 5.5px 10px 3px 10px;
        background-color: white;
        font-size: large;
    }
    .content-cart h2{
        font-size: large;
    }
    .buy button{
        padding: 12px 20px;
    }
    .noitem img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width:756px) and (max-width:1200px){
    .total{
        display: flex;
        justify-content: space-around;
        padding: 20px 0 20px 0;
        gap:0px;
    }
    .headOfcart{
        justify-content: space-around;
        padding: 10px 0 20px 0;
        gap: 0;
        position: relative;
        right: 60px;
    }
    .content-cart img{
        width: 10rem;
    }
    .cart-subcontent h2{
        font-size: 1.2rem;
        width: 17rem;
    }
    .content-cart h2{
        font-size: x-large;
    }
    .cartprice{
        padding: 2.2rem 0 0 0;
    }
}