.grid-parent{
    display: grid; 
    background-color: white;
    grid-template-columns: 0.8fr 2fr;
    grid-template-rows: auto auto;
}
.grid-1{
    grid-area: 1/1/2/2;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 6rem;
    cursor: pointer;
    padding: 40px 0 80px 0;
}
.grid-1 h2{
    color: rgb(90, 101, 111);
}
.grid-1 p {
    text-transform: capitalize;
    font-size: large;
    text-align: center;
    text-decoration: none;
}
.heroimg{
    width: 90%;
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    height: 15rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.heroimg p{
    position: relative;
    padding-left: 10px;
    letter-spacing: 2px;
    width: auto;
    top: 50px;
    font-size: x-large;
    font-weight:  bold;
    color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    width: 400px;
    border: 1px solid rgb(171, 171, 171);
}
.grid-2{
    grid-area: 1/2/3/3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 60px 0;
    /* m-height: 70rem; */
    padding: 10px 0;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 22rem;
    padding: 0.5rem;
    text-align: center;
    gap: 15px;
    cursor: pointer;
    border: 1px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linkcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 15px;
    text-decoration: none;
    color: black;
}
.card img{
    width: 8rem;
}
.card h2{
    font-size: large;
}
.card span{
    font-size: x-large;
}
.card h3{
    font-size: x-large;
}
.card button{
    padding: 15px;
    font-size: large;
    background-color: rgb(249, 203, 144);
    border: none;
    cursor: pointer;
}

/* no search  */ 

.nosearch{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 55vh;
}

@media screen and (max-width:756px){
    .grid-parent{
        background-color: rgb(245, 245, 245);
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0 10px;
    }
    .grid-1{
        display: none;
    }

    .grid-2{
        grid-area: 1/1/2/2;
        gap: 20px 0;
    }
    .card{
        width: 80%;
        padding: 1.2rem 9.5%;
        gap: 12px 0px;
    }

    .heroimg{
        width: 100%;
        background-color: white;
        padding: 8px 0;
        height: 10rem;
    }
    .heroimg p{
        top: 30px;
        font-size: x-large;
    }

    .nosearch img{
        width: 100%;
        height: 45vh;
    }
}

@media screen and (min-width:756px) and (max-width:1024px){
    .grid-parent{
        grid-template-columns: 0.8fr 2fr;
    }
    
    hr{
        width: 22rem;
        border: 1px solid rgb(171, 171, 171);
    }
    .heroimg{
        background-color: white;
        height: 12rem;
    }
}